/* General styles */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

input, select, button {
  margin: 10px;
  padding: 10px;
}

h2 {
  color: #282c34;
}

/* Specific component styles */

/* Waffle Menu */
.waffle-menu button {
  padding: 10px 20px;
  margin-bottom: 20px;
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
}

/* App layout */
.App {
  display: flex;
}

/* Sidebar */
.sidebar {
  width: 30%;
  background-color: #f8f9fa;
  padding: 20px;
  border-right: 1px solid #ddd;
}

/* Main content */
.main-content {
  width: 70%;
  padding: 20px;
}

/* Checked-in students */
.checked-in {
  background-color: #c3e6cb; /* Green background for checked-in students */
}

/* Checked-out students */
.checked-out {
  background-color: #f5c6cb; /* Red background for checked-out students */
}
