.education-button {
    background-color: #5cb85c; /* Education-themed color */
    border-color: #5cb85c;
    color: white;
    font-size: 1.25rem;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  .education-button:hover {
    background-color: #4cae4c;
    border-color: #4cae4c;
  }
  
  .btn-danger.education-button:hover {
    background-color: #d9534f;
    border-color: #d43f3a;
  }
  
  .btn-primary.education-button:hover {
    background-color: #337ab7;
    border-color: #2e6da4;
  }
  
  .education-button:focus {
    box-shadow: 0 0 0 0.2rem rgba(92, 184, 92, 0.5);
  }
  